<div class="container">
  <h2>Announcements</h2>

  <ul>
    {{#each model as |announcement|}}
       {{announcement-tile announcement=announcement destroyAnnouncement="destroyAnnouncement"}}
    {{/each}}
  </ul>

    {{new-announcement saveAnnouncement2="saveAnnouncement3"}}

  {{#link-to 'index'}}Home{{/link-to}} <br>
  {{#link-to 'about'}}About{{/link-to}} <br>
  {{#link-to 'contact'}}Contact{{/link-to}}<br>
  {{#link-to 'announcement'}}News{{/link-to}}
</div>
