<div class="container">
  <h2>Contact</h2>

  <div class="nav"><hr>
    {{#link-to 'index'}}Home{{/link-to}} |
    {{#link-to 'about'}}About{{/link-to}} |
    {{#link-to 'contact'}}Contact{{/link-to}} |
    {{#link-to 'announcement'}}News{{/link-to}}
  </div><hr>

  <p>Super Rentals Representatives would love to help you choose a destination or answer any burning questions you may have.</p>

  <p>Contact us today!</p>

  <p>
    Super Rentals Headquarters<br>
    1212 Test Address Avenue<br>
    TestyMcTestington, OR 97233
  </p>

  <p>(503) 555-1212</p>

  <p>superrentalsrep@superrentals.com</p>

</div>
