<div class="container">
  <h1>RentalTopia</h1>

  <div class="nav"><hr>
    {{#link-to 'index'}}Home{{/link-to}} |
    {{#link-to 'about'}}About{{/link-to}} |
    {{#link-to 'contact'}}Contact{{/link-to}} |
    {{#link-to 'announcement'}}News{{/link-to}}
  </div><hr>

  <p>Here is a list of our properties for rent!</p> <br>
  <ul>
    {{#each model as |rental|}}
      {{rental-tile rental=rental update="update" destroyRental="destroyRental"}} <!-- rendering component on left and from template on right-->
    {{/each}}
  </ul><br><hr>

  {{new-rental saveRental2="saveRental3"}}


</div>
